<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack the blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="http://localhost:3000/css/styles.css" />
  </head>
  <body>
    <%- include ("partials/navbar")%>
    <header>
      <div class="w-100 position-relative">
        <img
          class="w-100 m-0"
          style="height: 250px; object-fit: cover; filter: brightness(0.4)"
          src="https://cdn.pixabay.com/photo/2017/01/18/08/25/social-media-1989152_1280.jpg"
          alt="Imagen de blog"
        />
        <div
          class="container"
          style="
            position: absolute;
            width: 650px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
          "
        >
          <h1 style="font-weight: bold; font-size: 40px"><%= article.title%></h1>
          <p style="font-size: 15px">
            Created by <%= article.user.firstname%> <%= article.user.lastname%> at <%=
            moment(article.createdAt).format("Do MMMM, YYYY") %>
          </p>
        </div>
      </div>
    </header>

    <article class="container border-bottom mt-5">
      <p class="mb-4"><%= article.content%></p>
    </article>

    <form method="post" action="/comments">
      <input type="hidden" name="articleId" id="articleId" value="<%=article.id %>" />
      <div class="container mt-5">
        <h4 style="font-weight: bold; font-size: 18px">Add your comment</h4>
        <select class="form-select" aria-label="Default select example" name="userId" id="userId">
          <option selected>Select author...</option>
          <%for (const user of users){%>
          <option value="<%=user.id%>"><%=user.firstname%> <%=user.lastname%></option>
          <% }%>
        </select>
        <div>
          <textarea
            name="content"
            style="height: 150px"
            class="form-control mt-2"
            placeholder="Leave a comment here"
            id="content"
          ></textarea>
        </div>
        <button class="btn btn-primary container mt-2">Send</button>
      </div>
    </form>
    <section class="container border-bottom">
      <h4 style="font-weight: bold">Comments</h4>
      <% for (const comment of article.comments){%>
      <div class="mt-5">
        <p>"<%=comment.content%>"</p>
        <p style="color: grey">
          <%= comment.user.firstname%> <%= comment.user.lastname%>, <%=
          moment(comment.createdAt).format("Do MMMM, YYYY") %>.
        </p>
      </div>
      <%}%>
    </section>
    <%- include ("partials/footer")%>
  </body>
</html>
